body {
    margin: 40px auto;
    max-width: 800px;
    padding: 0 10px;
    font-family: Open Sans, Arial;
    color: #454545;
    line-height: 1.2;
}

code {
    background: #f8f8f8;
}

a {
    color: #0366d6;
    text-decoration: none;
}

pre code {
    overflow: auto;
    tab-size: 4;
    display: block;
    padding: 0.5em;
}
