@media (prefers-color-scheme: light) {
    body {
        color: #454545;
    }

    code {
        background: #f8f8f8;
    }

    a {
        color: #0366d6;
        text-decoration: none;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: white;
    }

    code {
        background: #00ff66;
    }

    a {
        color: #91add4;
        text-decoration: none;
    }
}

body {
    margin: 40px auto;
    max-width: 800px;
    padding: 0 10px;
    font-family: Open Sans, Arial;
    line-height: 1.2;
}

pre code {
    overflow: auto;
    tab-size: 4;
    display: block;
    padding: 0.5em;
}
