Options +Indexes
AddDescription "Demystifying the logistic regression equation" "demystifying-the-logistic-regression-equation.html" #Thu, 1 Oct 2020 17:46:52 -0500
AddDescription "Don't know thyself" "dont-know-thyself.html" #Sun, 15 Nov 2020 18:02:55 -0500
AddDescription "Cafe privacy" "cafe-privacy.html" #Sun, 10 Jan 2021 18:11:41 -0500
AddDescription "Nonconfirmation bias" "nonconfirmation-bias.html"
AddDescription "Directives for a younger self" "directives-for-a-younger-self.html" #Mon, 29 Mar 2021 21:40:40 -0700
AddDescription "Just keep reading" "just-keep-reading.html" #Tue, 30 Mar 2021 21:19:59 -0700
AddDescription "Go to class" "go-to-class.html" #Thu, 01 Apr 2021 21:38:41 -0700
AddDescription "Do one thing" "do-one-thing.html" #Sun, 04 Apr 2021 14:42:20 -0700
AddDescription "Stick to one club" "stick-to-one-club.html" #Mon, 05 Apr 2021 08:42:37 -0700
AddDescription "Sports are dumb" "sports-are-dumb.html" #Wed, 14 Apr 2021 08:46:28 -0700
AddDescription "Develop empathy as a rational tool" "develop-empathy-as-a-rational-tool.html"
AddDescription "Dos and Dont's of Feynman" "dos-and-donts-of-feynman.html" #Sun, 18 Apr 2021 16:11:46 -0700
AddDescription "Don't read what others are reading" "dont-read-what-others-are-reading.html" #Mon, 19 Apr 2021 22:12:23 -0700
AddDescription "Emergence of religious values" "emergence-of-religious-values.html" #Wed, 21 Apr 2021 21:52:28 -0700
AddDescription "Parabola of Generosity" "parabola-of-generosity.html" #Sat, 24 Apr 2021 10:07:51 -0700
AddDescription "Choose less, decide more" "choose-less-decide-more.html" #Sun, 25 Apr 2021 20:33:20 -0700
AddDescription "How to grok SQL" "how-to-grok-sql.html" #Tue, 27 Apr 2021 19:11:09 -0700
AddDescription "Essential reading list" "essential-reading-list.html" #Wed, 28 Apr 2021 21:04:36 -0700
AddDescription "Populism and wallstreetbets" "populism-and-wallstreetbets.html" #Sat, 01 May 2021 11:19:51 -0700
