Options +Indexes
AddDescription "Demystifying the logistic regression equation" "demystifying-the-logistic-regression-equation.html" #Thu, 1 Oct 2020 17:46:52 -0500
AddDescription "Populism and wallstreetbets" "populism-and-wallstreetbets.html"
AddDescription "Don't know thyself" "dont-know-thyself.html" #Sun, 15 Nov 2020 18:02:55 -0500
AddDescription "Cafe privacy" "cafe-privacy.html" #Sun, 10 Jan 2021 18:11:41 -0500
AddDescription "Nonconfirmation bias" "nonconfirmation-bias.html"
AddDescription "Directives for a younger self" "directives-for-a-younger-self.html" #Mon, 29 Mar 2021 21:40:40 -0700
AddDescription "Just keep reading" "just-keep-reading.html" #Tue, 30 Mar 2021 21:19:59 -0700
AddDescription "Go to class" "go-to-class.html" #Thu, 01 Apr 2021 21:38:41 -0700
AddDescription "Do one thing" "do-one-thing.html" #Sun, 04 Apr 2021 14:42:20 -0700
AddDescription "Stick to one club" "stick-to-one-club.html" #Mon, 05 Apr 2021 08:42:37 -0700
AddDescription "Sports are dumb" "sports-are-dumb.html" #Wed, 14 Apr 2021 08:46:28 -0700
AddDescription "Develop empathy as a rational tool" "develop-empathy-as-a-rational-tool.html"
