Options +Indexes
AddDescription "Demystifying the logistic regression equation" "demystifying-the-logistic-regression-equation.html" #Thu, 1 Oct 2020 17:46:52 -0500
AddDescription "Don't know thyself" "dont-know-thyself.html" #Sun, 15 Nov 2020 18:02:55 -0500
AddDescription "Cafe privacy" "cafe-privacy.html" #Sun, 10 Jan 2021 18:11:41 -0500
AddDescription "Nonconfirmation bias" "nonconfirmation-bias.html"
AddDescription "Directives for a younger self" "directives-for-a-younger-self.html" #Mon, 29 Mar 2021 21:40:40 -0700
AddDescription "Just keep reading" "just-keep-reading.html" #Tue, 30 Mar 2021 21:19:59 -0700
AddDescription "Go to class" "go-to-class.html" #Thu, 01 Apr 2021 21:38:41 -0700
AddDescription "Do one thing" "do-one-thing.html" #Sun, 04 Apr 2021 14:42:20 -0700
AddDescription "Stick to one club" "stick-to-one-club.html" #Mon, 05 Apr 2021 08:42:37 -0700
AddDescription "Sports are dumb" "sports-are-dumb.html" #Wed, 14 Apr 2021 08:46:28 -0700
AddDescription "Dos and Dont's of Feynman" "dos-and-donts-of-feynman.html" #Sun, 18 Apr 2021 16:11:46 -0700
AddDescription "Don't read what others are reading" "dont-read-what-others-are-reading.html" #Mon, 19 Apr 2021 22:12:23 -0700
AddDescription "Emergence of religious values" "emergence-of-religious-values.html" #Wed, 21 Apr 2021 21:52:28 -0700
AddDescription "Parabola of Generosity" "parabola-of-generosity.html" #Sat, 24 Apr 2021 10:07:51 -0700
AddDescription "Choose less, decide more" "choose-less-decide-more.html" #Sun, 25 Apr 2021 20:33:20 -0700
AddDescription "How to grok SQL" "how-to-grok-sql.html" #Tue, 27 Apr 2021 19:11:09 -0700
AddDescription "Essential reading list" "essential-reading-list.html" #Wed, 28 Apr 2021 21:04:36 -0700
AddDescription "Populism and wallstreetbets" "populism-and-wallstreetbets.html" #Sat, 01 May 2021 11:19:51 -0700
AddDescription "Are you rich?" "are-you-rich.html" #Sun, 02 May 2021 18:09:10 -0700
AddDescription "Develop empathy" "develop-empathy.html" #Mon, 03 May 2021 20:06:44 -0700
AddDescription "What is love?" "what-is-love.html" #Tue, 04 May 2021 21:31:39 -0700
AddDescription "Ode to text files" "ode-to-text-files.html" #Wed, 05 May 2021 21:26:50 -0700
AddDescription "Office sans politics" "office-sans-politics.html" #Sat, 08 May 2021 13:12:09 -0700
AddDescription "Stimulation" "stimulation.html" #Sun, 09 May 2021 19:17:22 -0700
AddDescription "Muslim millenial value stack" "muslim-millenial-value-stack.html" #Sun, 09 May 2021 21:02:30 -0700
AddDescription "Paternalistic benefits" "paternalistic-benefits.html" #Wed, 12 May 2021 10:44:08 -0700
AddDescription "Moral culpability" "moral-culpability.html" #Thu, 13 May 2021 22:32:42 -0700
AddDescription "Ambition vs equanimity" "ambition-vs-equanimity.html" #Fri, 14 May 2021 21:54:13 -0700
AddDescription "Fiction vs nonfiction" "fiction-vs-nonfiction.html" #Sun, 16 May 2021 14:58:45 -0700
AddDescription "A mother's collection" "a-mothers-collection.html" #Sun, 16 May 2021 22:48:37 -0700
AddDescription "A litmus test for conflict" "a-litmus-test-for-conflict.html" #Mon, 17 May 2021 09:09:55 -0700
AddDescription "The strangeness of creativity" "the-strangeness-of-creativity.html" #Wed, 19 May 2021 09:10:53 -0700
AddDescription "Joy of jankiness" "joy-of-jankiness.html" #Fri, 21 May 2021 09:15:46 -0700
AddDescription "Why learn history?" "why-learn-history.html" #Fri, 28 May 2021 21:33:39 -0700
AddDescription "What is worth crying about" "what-is-worth-crying-about.html" #Sat, 29 May 2021 17:10:00 -0700
AddDescription "Pains of jankiness" "pains-of-jankiness.html" #Sun, 30 May 2021 22:00:39 -0700
AddDescription "How not to exercise" "how-not-to-exercise.html" #Mon, 31 May 2021 16:54:53 -0700
AddDescription "Cringing at your own work" "cringing-at-your-own-work.html" #Wed, 02 Jun 2021 18:45:14 -0700
AddDescription "Book club basics" "book-club-basics.html" #Sat, 05 Jun 2021 21:53:16 -0700
AddDescription "Food for thought" "food-for-thought.html" #Sun, 06 Jun 2021 20:53:28 -0700
AddDescription "Disney, Grimm, and the Holy Scripture" "disney-grimm-and-the-holy-scripture.html" #Wed, 09 Jun 2021 19:13:44 -0700
AddDescription "For whom to blog" "for-whom-to-blog.html" #Mon, 28 Jun 2021 20:16:31 -0700
AddDescription "The best explanation of middle class" "the-best-explanation-of-middle-class.html" #Tue, 06 Jul 2021 21:49:37 -0700
